In [6]:
from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster

In [7]:
from sqlalchemy import create_engine, text

In [8]:
database_name = 'scooters'

connection_string = f"postgresql://postgres:postgres@localhost:5432/scooters"

In [9]:
engine = create_engine(connection_string)

In [10]:
#pip install psycopg2-binary

#### sumdgroup: fix format and filter out non-scooters

In [11]:
query = '''
SELECT DISTINCT companyname, costpermin,sumdgroup 
FROM scooters;
'''

#with engine.connect() as connection: result = connection.execute(text(query))

In [12]:
with engine.connect() as connection:   
    scooters_sumcostname = pd.read_sql(text(query), con = connection)

In [13]:
#match device formatting
scooters_sumcostname['sumdgroup']=scooters_sumcostname['sumdgroup'].str.lower()

In [16]:
#filter in scooters
only_scooters = scooters_sumcostname[scooters_sumcostname.sumdgroup == 'scooter']

only_scooters

   companyname  costpermin sumdgroup
0         Bird        0.00   scooter
1         Bird        0.15   scooter
2         Bolt        0.15   scooter
3         Bolt        0.30   scooter
4       Gotcha        0.00   scooter
5       Gotcha        0.15   scooter
6         Jump        0.00   scooter
7         Jump        0.06   scooter
9         Lime        0.00   scooter
12        Lime        0.15   scooter
13        Lime        0.23   scooter
14        Lyft        0.00   scooter
15        Lyft        0.15   scooter
16        Spin        0.00   scooter
17        Spin        0.23   scooter

#### Compliant Table
dropping create_dt
dropping pubdatetime
filter out trips duration

#### Geodataframe
dropping long, lat
adding geography column