In [23]:
from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster
import numpy as np

In [2]:
from sqlalchemy import create_engine, text

# latitude, longitude
### Clean
##### create geography column
#######nE

In [11]:
database_name = 'scooters'

engine = create_engine(f"postgresql://postgres:postgres@localhost:5432/scooters")

In [12]:
query1 = '''
SELECT companyname, latitude, longitude
FROM scooters
;
'''

with engine.connect() as connection: result = connection.execute(text(query1))

In [5]:
with engine.connect() as connection: 
    scooters = pd.read_sql(text(query1), con = connection)

In [18]:
scooters

         companyname   latitude  longitude
0               Jump  36.162700 -86.779100
1               Jump  36.119500 -86.752900
2               Jump  36.120100 -86.753200
3               Jump  36.119900 -86.753300
4               Jump  36.186700 -86.794000
...              ...        ...        ...
73414038      Gotcha  36.121389 -86.770446
73414039        Jump  36.120200 -86.753600
73414040        Jump  36.163100 -86.778600
73414041        Jump  36.120000 -86.753400
73414042        Jump  36.120000 -86.753400

[73414043 rows x 3 columns]

In [9]:
query2 = '''
SELECT companyname, triprecordnum
FROM trips
;
'''
with engine.connect() as connection: result = connection.execute(text(query2))

In [13]:
with engine.connect() as connection: 
    trips = pd.read_sql(text(query2), con = connection)

In [15]:
trips

       companyname triprecordnum
0             Bird       BRD2134
1             Lyft          LFT5
2             Bird       BRD2168
3             Bird       BRD2166
4             Bird       BRD2165
...            ...           ...
565517        JUMP          JMP3
565518        JUMP          JMP2
565519        JUMP          JMP1
565520        JUMP         JMP35
565521        JUMP         JMP34

[565522 rows x 2 columns]

In [24]:
# bypass depreciation warning in geography column script

import warnings
from shapely.errors import ShapelyDeprecationWarning

geoms = [Point(0, 0), Point(1, 1), Point(2, 2)]
arr = np.empty(len(geoms), dtype="object")

with warnings.catch_warnings():
    warnings.filterwarnings("ignore", category=ShapelyDeprecationWarning)
    arr[:] = geoms

In [ ]:
scooters_gdf = gpd.GeoDataFrame(
    scooters,
    geometry = gpd.points_from_xy(
        x = scooters.longitude,
        y = scooters.latitude,
        crs = 'EPSG:4326',
    )

)

C:\Users\dmcad\anaconda3\envs\geospatial\lib\site-packages\geopandas\array.py:275: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  return GeometryArray(vectorized.points_from_xy(x, y, z), crs=crs)

##### remove latitude and longitutde column to reduce bulk

In [ ]:
scooters_merge = scooters_gdf.drop(['latititude', 'longitude'], axis=1)

In [ ]:
scooters_gdf = df.merge(scooters, trips, on='companyname')

In [ ]:
scooters_gdf.plot()

### Question Review
##### 4a. Finding the frequency of scooter use by location

In [ ]:
scooters_gdf = gpd.GeoDataFrame(data, geometry='geometry')
scooter_freq = scooters_gdf.groupby('geometry').size().reset_index(name='count')
scooter_freq.plot()

# pubdatetime

### Clean 
###### check pubdatetime dtype

In [ ]:
pubdatetime_query = '''
SELECT pubdatetime
FROM scooters
;
'''

with engine.connect() as connection: result = connection.execute(text(pubdatetime_query))

In [ ]:
with engine.connect() as connection: 
    scooters_datetime = pd.read_sql(text(pubdatetime_query), con = connection)

In [ ]:
scooters_datetime

In [ ]:
print(scooters_datetime.pubdatetime.dtype)

### Explore
##### find missing data

In [ ]:
print(scooters_datetime.isnull())

##### find max and min

In [ ]:
pubdatetime_maxmin_query = '''
SELECT MAX(pubdatetime), MIN(pubdatetime)
FROM scooters
;
'''

with engine.connect() as connection: result = connection.execute(text(pubdatetime_maxmin_query))

In [ ]:
with engine.connect() as connection: 
    scooters_datetime_maxmin = pd.read_sql(text(pubdatetime_maxmin_query), con = connection)

In [ ]:
scooters_datetime_maxmin

### Question Review

# sumdtype
(no cleanup needed)
### Explore
##### find categories

In [ ]:
sumdtype_query = '''
SELECT DISTINCT sumdtype
FROM scooters
;
'''

with engine.connect() as connection: result = connection.execute(text(sumdtype_query))

In [ ]:
with engine.connect() as connection: 
    scooters_operation = pd.read_sql(text(sumdtype_query), con = connection)

In [ ]:
scooters_operation

##### distribution across time spent

In [ ]:
operation_distance_query = '''
SELECT sumdtype, AVG(tripdistance)
FROM scooters
JOIN trips USING companyname
GROUP BY sumdtype
;
'''

with engine.connect() as connection: result = connection.execute(text(operation_distance_query))

In [ ]:
with engine.connect() as connection: 
    operation_distance = pd.read_sql(text(operation_distance_query), con = connection)

In [ ]:
operation_distance

##### distribution across time of day

In [ ]:
operation_timefreq_query = '''
SELECT sumdtype, pubdatetime
FROM scooters
;
'''

with engine.connect() as connection: result = connection.execute(text(operation_timefreq_query))

In [ ]:
with engine.connect() as connection: 
    operation_timefreq = pd.read_sql(text(operation_timefreq_query), con = connection)

In [ ]:
operation_timefreq['time_of_day'] = operation_timefreq['pubdatetime'].apply(lambda x: 'am' if x.hour < 12 else ('midday' if 12 <= x.hour < 16 else ('evening' if 16 <= x.hour < 20 else 'late')))

In [ ]:
operation_timefreq

##### average distribution across a week

In [ ]:
operation_dayfreq_query = '''
SELECT sumdtype
FROM scooters
;
'''

with engine.connect() as connection: result = connection.execute(text(operation_dayfreq_query))

In [ ]:
with engine.connect() as connection: 
    operation_dayfreq = pd.read_sql(text(operation_dayfreq_query), con = connection)

In [ ]:
operation_dayfreq['day_of_week'] = operation_dayfreq['pubdatetime'].dt.day_name()

In [ ]:
operation_dayfreq

# chargelevel
### Clean/Explore
##### check the charge range/options

In [ ]:
charge_query = '''
SELECT DISTINCT chargelevel
FROM scooters
;
'''
with engine.connect() as connection: result = connection.execute(text(charge_query))

In [ ]:
with engine.connect() as connection: 
    chargelevels = pd.read_sql(text(charge_query), con = connection)

In [ ]:
chargelevels